@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.SNavigation {
    display: flex;
    gap: 10px;
    align-items: center;

    .SLinkWrapper {
        display: flex;
        gap: 10px;
    }
}