@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.SSelectWrapper {
    position: relative;
    display: grid;
    align-items: center;

    .SSelectLabelWrapper {
        z-index: 10;
        position: absolute;
        height: 25px;
        bottom: 32px;
        left: 8px;
        padding: 0 2px;
        background-color: variables.$BGC_MAIN;

        display: flex;
        align-content: start;

        .SSelectLabel {
            height: 100%;
            color: variables.$TEXT_LABEL_INPUT;

            @include mixins.font-roboto-xs;
        }

        .SSelectRequired {
            height: 100%;
            color: variables.$REQUIRED_INPUT;

            @include mixins.font-roboto-m;
        }
    }
}