@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.SMessage {
    margin-top: 10px;
    text-align: center;
    color: variables.$TEXT_DESCRIPTION;

    @include mixins.font-roboto-s;
}