@use '@/shared/styles/mixins' as mixins;
@use '@/shared/styles/variables' as variables;

.SForm {
    display: grid;
    row-gap: 30px;
}

.SCreateSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;

    @media screen and (max-width: variables.$small) {
        grid-template-columns: 1fr;
    }
}

.SPFooter {
    display: flex;
    gap: 25px;
    justify-content: end;

    @media screen and (max-width: variables.$small) {
        flex-direction: column;
    }
}

.Error {
    color: variables.$ERROR_INPUT;
}