$WHITE: #FFFFFF;
$LIGHT_BLUE: #DBE2EF;
$LIGHT_MEDIUM_BLUE: #8FB6FF;
$LIGHT_DARKER_BLUE: #65ABFF;
$ALMOST_BLUE: #257FEA33;
$SATURATED_BLUE: #257FEA;
$BLUE: #3F72AF;
$RED: #EC1D1D;
$GRAY: #808080;
$LIGHT_BLACK: #00000040;
$MEDIUM_BLACK: #00000080; 
$BLACK: #000000;

// Text
$TEXT_MAIN_HEADER: $WHITE;
$TEXT_SIMPLE: $BLACK;
$TEXT_TITLE_POPUP: $BLUE;
$TEXT_DESCRIPTION: $MEDIUM_BLACK;

// Background
$BGC_MAIN: $LIGHT_BLUE;
$BGC_HEADER: $BLUE;
$BGC_POPUP: $LIGHT_BLUE;

// Button
$PRIMARY_TEXT_BUTTON: $WHITE;
$PRIMARY_BGC_BUTTON: $BLUE;

$PRIMARY_BGC_HOVER_BUTTON: $SATURATED_BLUE;
$PRIMARY_BGC_ACTIVE_BUTTON: $LIGHT_DARKER_BLUE;

$SECONDARY_TEXT_BUTTON: $BLUE;
$SECONDARY_BGC_BUTTON: transparent;
$SECONDARY_BORDER_BUTTON: $BLUE;

$SECONDARY_TEXT_HOVER_BUTTON: $SATURATED_BLUE;
$SECONDARY_BGC_HOVER_BUTTON: $ALMOST_BLUE;
$SECONDARY_BORDER_HOVER_BUTTON: $SATURATED_BLUE;

$SECONDARY_TEXT_ACTIVE_BUTTON: $WHITE;
$SECONDARY_BGC_ACTIVE_BUTTON: $SATURATED_BLUE;
$SECONDARY_BORDER_ACTIVE_BUTTON: $SATURATED_BLUE;

//Input
$TEXT_LABEL_INPUT: $BLUE;
$TEXT_PLACEHOLDER_INPUT: $MEDIUM_BLACK;
$BGC_INPUT: transparent;
$BORDER_INPUT: $BLUE;
$BORDER_HOVER_INPUT: $SATURATED_BLUE;
$ERROR_INPUT: $RED;

// Select
$TEXT_SELECT_SELECTED: $WHITE;
$TEXT_SELECT: $BLACK;
$BGC_SELECT_SELECTED: $BLUE;
$BGC_SELECT: transparent;
$BGC_HOVER_SELECT: $ALMOST_BLUE;

//Links
$TEXT_LINK: $LIGHT_BLUE;
$TEXT_SELECTED_LINK: $LIGHT_MEDIUM_BLUE;
$TEXT_HOVER_LINK: $WHITE;