@use '../../styles/mixins';
@use '../../styles/variables';

.scroll_wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: variables.$SCROLLBAR variables.$BGC_MAIN;
  }